<% provide :title, 'About me' %>
<main>
    <div class="container">
        <section class="timeline">
            <div class="timeline-block">
                <div class="timeline-node">
                    
                </div>
                <div class="timeline-content">
                    <p>here is some content</p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-node">
                    
                </div>
                <div class="timeline-content">
                    <p>here is some content</p>
                </div>
            </div>
            <div class="timeline-block">
                <div class="timeline-node">
                    
                </div>
                <div class="timeline-content">
                    <p>here is some content</p>
                </div>
            </div>
        </section>
    </div>
</main>
