<%= render 'shared/navbar' %>
<main>
    <div class="parallax-container">
        <div class="parallax"><%= image_tag 'cover.jpg', :alt => 'cover image' %></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h3 class="header">Ciao.moe</h3>
            <p class="grey-text text-darken-3 lighten-3">
                Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
            </p>
        </div>
    </div>
</main>
<%= render 'shared/footer' %>
