<% provide :title, 'New Article' %>
<header>
    <div class="toolbar">
        <div class="toolbar-action">
            <%= link_to root_path do %>
                <i class="material-icons">arrow_back</i>
            <% end %>
        </div>
        <div class="toolbar-action">
            
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <h1>New Article</h1>
        <%= render 'shared/article_form' %>
    </div>
</div>