<footer class="page-footer z-depth-1">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5 class="white-text">这里是footer</h5>
                <p class="grey-text text-lighten-4">这里是footer content，我还不知道要写些什么</p>
            </div>
            <div class="col m4 offset-m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><%= link_to 'about me', about_path, class: 'grey-text text-lighten-3' %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            @ 2016 Ciao.moe
            <span class="right">Powered by Ruby on Rails</span>
        </div>
    </div>
</footer>