<footer class="page-footer z-depth-1">
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5 class="white-text">这里是footer</h5>
                <p class="grey-text text-lighten-4">这里是footer content，我还不知道要写些什么</p>
            </div>
            <div class="col m4 offset-m2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a href="about" class="grey-text text-lighten-3">about me</a></li>
                    <li><a href="#" class="grey-text text-lighten-3">link1</a></li>
                    <li><a href="#" class="grey-text text-lighten-3">link2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            @ 2016 Ciao.moe
            <a href="#" class="grey-text text-lighten-4 right">Link3</a>
        </div>
    </div>
</footer>