<nav class="z-depth-1">
    <div class="nav-wrapper">
        <div id="breadcrumb" class="col s12">
            <%= link_to 'Ciao.moe', root_path, class: 'breadcrumb' %>
        </div>
    </div>
</nav>