/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import "materialize";

.toolbar {
    padding: 4px;
    .toolbar-action {
        padding: 6px;
        i {
            border-radius: 50%;
            padding: 6px;
            :hover {
                background-color: #f0f0f0;
            }
        }
    }
}

a {
    color: #0d47a1;
    transition: color 0.15s;  
    :hover {
        color: #093272;
    }  
}