// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article {
    margin-top: 32px;
    header {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 32px;
        .meta {
            color: #616161;
            margin: 0.5em 0;
        }
    }
}

.comments {
    margin-top: 64px;
}

.articles-nav {
    h1 {
        margin: 48px 0 32px;
        color: #b71c1c;
    }
    li {
        margin: 12px 0;
    }
    .text-muted {
        color: #616161;
    }
}
